node_modules/
.env
dist/
.DS_Store
*.log
uploads/
.vscode/
.idea/
build/
coverage/
.next/
out/
.vercel
.cache/
.vite/
.npm
.yarn
.pnp*
.ssh/
.bash_history
.npmrc
.yarnrc
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
